In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
mp=pd.read_csv('../Notebook/My_Capstone.csv')

In [3]:
mp

,Case Number,Date Last Contacted,Missing Age,City,County,State,Sex,Race,Year,First Name/ Last Name,population,missing_person_count
0,MP124793,2024-05-13,53 Years,Knoxville,Knox,TN,Male,White,2024,todd zwagerman,7227750,614
1,MP40974,2016-12-25,15 Years,Yonkers,Westchester,NY,Male,Hispanic,2016,yoxy zuniga romero,19636391,307
2,MP120760,2024-01-14,16 Years,Houston,Harris,TX,Male,Hispanic,2024,eduardo zuniga hernandez,31290831,1534
3,MP102154,2023-01-29,17 Years,Springfield,Robertson,TN,Male,Hispanic,2023,rodil zuniga,7148304,614
4,MP113999,2021-11-27,17 Years,Jacksonville,Pulaski,AR,Male,White,2021,exon zuniga,3026870,165
...,...,...,...,...,...,...,...,...,...,...,...,...
9154,MP99890,2022-09-25,19 Years,Durham,Durham,NC,Male,Black,2022,sam abdalla,10710793,298
9155,MP123853,2024-04-02,62 Years,Spokane,Spokane,WA,Male,White,2024,robert abbott,7958180,249
9156,MP95500,2018-08-24,18 Years,New Bedford,Bristol,MA,Male,Hispanic,2018,kevin abarca-choto,6885720,65
9157,MP134241,2024-09-27,15 Years,Laurel,Prince George's,MD,Female,Hispanic,2024,lissellen abarca guerra,6263220,78
9158,MP60161,2019-08-31,56 Years,Tulsa,Tulsa,OK,Male,White,2019,louay aamer,3960676,322

In [6]:
mp['City_State']= mp['City'] + ', ' + mp['State']

In [7]:
mp

,Case Number,Date Last Contacted,Missing Age,City,County,State,Sex,Race,Year,First Name/ Last Name,population,missing_person_count,City_State
0,MP124793,2024-05-13,53 Years,Knoxville,Knox,TN,Male,White,2024,todd zwagerman,7227750,614,"Knoxville, TN"
1,MP40974,2016-12-25,15 Years,Yonkers,Westchester,NY,Male,Hispanic,2016,yoxy zuniga romero,19636391,307,"Yonkers, NY"
2,MP120760,2024-01-14,16 Years,Houston,Harris,TX,Male,Hispanic,2024,eduardo zuniga hernandez,31290831,1534,"Houston, TX"
3,MP102154,2023-01-29,17 Years,Springfield,Robertson,TN,Male,Hispanic,2023,rodil zuniga,7148304,614,"Springfield, TN"
4,MP113999,2021-11-27,17 Years,Jacksonville,Pulaski,AR,Male,White,2021,exon zuniga,3026870,165,"Jacksonville, AR"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,MP99890,2022-09-25,19 Years,Durham,Durham,NC,Male,Black,2022,sam abdalla,10710793,298,"Durham, NC"
9155,MP123853,2024-04-02,62 Years,Spokane,Spokane,WA,Male,White,2024,robert abbott,7958180,249,"Spokane, WA"
9156,MP95500,2018-08-24,18 Years,New Bedford,Bristol,MA,Male,Hispanic,2018,kevin abarca-choto,6885720,65,"New Bedford, MA"
9157,MP134241,2024-09-27,15 Years,Laurel,Prince George's,MD,Female,Hispanic,2024,lissellen abarca guerra,6263220,78,"Laurel, MD"
9158,MP60161,2019-08-31,56 Years,Tulsa,Tulsa,OK,Male,White,2019,louay aamer,3960676,322,"Tulsa, OK"

In [8]:
mp['County_State']= mp['County'] + ', ' + mp['State']

In [6]:
##TOP 5 CITIES

In [7]:
mp['City_State'].value_counts()

City_State
Dallas, TX            327
Houston, TX           292
Los Angeles, CA       206
Memphis, TN           142
McAllen, TX           123
                     ...
San Ysidro, CA          1
Cumberland Gap, TN      1
Worcester, MA           1
Lake Stevens, WA        1
Hawi, HI                1
Name: count, Length: 3387, dtype: int64

In [9]:
mp["age"] = (
    mp["Missing Age"]
      .str.replace(r"\s*years?\s*$", "", regex=True, case=False)
      .str.replace(r"\s*yrs?\s*$", "", regex=True, case=False)
      .str.strip()
)

In [10]:
mp

,Case Number,Date Last Contacted,Missing Age,City,County,State,Sex,Race,Year,First Name/ Last Name,population,missing_person_count,City_State,County_State,age
0,MP124793,2024-05-13,53 Years,Knoxville,Knox,TN,Male,White,2024,todd zwagerman,7227750,614,"Knoxville, TN","Knox, TN",53
1,MP40974,2016-12-25,15 Years,Yonkers,Westchester,NY,Male,Hispanic,2016,yoxy zuniga romero,19636391,307,"Yonkers, NY","Westchester, NY",15
2,MP120760,2024-01-14,16 Years,Houston,Harris,TX,Male,Hispanic,2024,eduardo zuniga hernandez,31290831,1534,"Houston, TX","Harris, TX",16
3,MP102154,2023-01-29,17 Years,Springfield,Robertson,TN,Male,Hispanic,2023,rodil zuniga,7148304,614,"Springfield, TN","Robertson, TN",17
4,MP113999,2021-11-27,17 Years,Jacksonville,Pulaski,AR,Male,White,2021,exon zuniga,3026870,165,"Jacksonville, AR","Pulaski, AR",17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,MP99890,2022-09-25,19 Years,Durham,Durham,NC,Male,Black,2022,sam abdalla,10710793,298,"Durham, NC","Durham, NC",19
9155,MP123853,2024-04-02,62 Years,Spokane,Spokane,WA,Male,White,2024,robert abbott,7958180,249,"Spokane, WA","Spokane, WA",62
9156,MP95500,2018-08-24,18 Years,New Bedford,Bristol,MA,Male,Hispanic,2018,kevin abarca-choto,6885720,65,"New Bedford, MA","Bristol, MA",18
9157,MP134241,2024-09-27,15 Years,Laurel,Prince George's,MD,Female,Hispanic,2024,lissellen abarca guerra,6263220,78,"Laurel, MD","Prince George's, MD",15
9158,MP60161,2019-08-31,56 Years,Tulsa,Tulsa,OK,Male,White,2019,louay aamer,3960676,322,"Tulsa, OK","Tulsa, OK",56

In [11]:
mp["age"] = pd.to_numeric(mp["age"], errors="coerce")

In [12]:
bins = [0, 17, 34, 54, 150] 
labels = ["0-17", "18-34", "35-54", "55+"]

In [13]:
mp["age"] = pd.cut(mp["age"], bins=bins, labels=labels, include_lowest=True)

In [14]:
mp

,Case Number,Date Last Contacted,Missing Age,City,County,State,Sex,Race,Year,First Name/ Last Name,population,missing_person_count,City_State,County_State,age
0,MP124793,2024-05-13,53 Years,Knoxville,Knox,TN,Male,White,2024,todd zwagerman,7227750,614,"Knoxville, TN","Knox, TN",35-54
1,MP40974,2016-12-25,15 Years,Yonkers,Westchester,NY,Male,Hispanic,2016,yoxy zuniga romero,19636391,307,"Yonkers, NY","Westchester, NY",0-17
2,MP120760,2024-01-14,16 Years,Houston,Harris,TX,Male,Hispanic,2024,eduardo zuniga hernandez,31290831,1534,"Houston, TX","Harris, TX",0-17
3,MP102154,2023-01-29,17 Years,Springfield,Robertson,TN,Male,Hispanic,2023,rodil zuniga,7148304,614,"Springfield, TN","Robertson, TN",0-17
4,MP113999,2021-11-27,17 Years,Jacksonville,Pulaski,AR,Male,White,2021,exon zuniga,3026870,165,"Jacksonville, AR","Pulaski, AR",0-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,MP99890,2022-09-25,19 Years,Durham,Durham,NC,Male,Black,2022,sam abdalla,10710793,298,"Durham, NC","Durham, NC",18-34
9155,MP123853,2024-04-02,62 Years,Spokane,Spokane,WA,Male,White,2024,robert abbott,7958180,249,"Spokane, WA","Spokane, WA",55+
9156,MP95500,2018-08-24,18 Years,New Bedford,Bristol,MA,Male,Hispanic,2018,kevin abarca-choto,6885720,65,"New Bedford, MA","Bristol, MA",18-34
9157,MP134241,2024-09-27,15 Years,Laurel,Prince George's,MD,Female,Hispanic,2024,lissellen abarca guerra,6263220,78,"Laurel, MD","Prince George's, MD",0-17
9158,MP60161,2019-08-31,56 Years,Tulsa,Tulsa,OK,Male,White,2019,louay aamer,3960676,322,"Tulsa, OK","Tulsa, OK",55+

In [15]:
mp.to_csv('My_Capstone.csv', index=False)